.env
node_modules

const http = require('http');

const server = http.createServer((req, res) => {
  res.setHeader('Content-Type', 'text/html');
  res.end(`
    <html>
      <head>
        <title>Your Web View</title>
      </head>
      <body style="margin: 0; padding: 0;">
      </body>
    </html>`);
});

server.listen(3000, () => {
  console.log('Server Online');
});